.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 6px;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #dadfe7;

    font-size: 16px;
    font-weight: bold;
    color: #2F2F2F;
  }

  .table {
    display: flex;
    flex-direction: column;

    .rows {
      display: grid;
      grid-template-columns: 7fr 3fr 2fr;
      border-bottom: 1px solid #dadfe7;

      div {
        padding: 12px 18px;
        position: relative;
      }

      div:after {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #dadfe7;
      }

      :first-child {
        font-size: 16px;
        font-weight: bold;
        color: #2F2F2F;
      }

      :last-child {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      :last-child::after {
        content: "";
        width: 0;
        height: 0;
      }
    }

    .rows:last-child {
      border-bottom: 0px;
    }
  }
}
